@use "variables" as *;
@use "mixins" as *;

.class-info {
  @include sub-title();
  &__desc {
    margin-top: $spacing-md;

    p {
      color: $primary-text;
      font-size: 18px;
    }
  }
  &__footer {
    font-size: 14px;
    color: $secondary-text;
    margin-top: $spacing-sm;

    &--professor {
      margin-top: 4px;
    }
  }
}
