<div class="class-reserve__legend">
  <div class="class-reserve__legend--block">
    <div class="class-reserve__legend--block-color"></div>
    <p>your seat</p>
  </div>
  <div class="class-reserve__legend--block">
    <div class="class-reserve__legend--block-color"></div>
    <p>reserved</p>
  </div>
  <div class="class-reserve__legend--block">
    <div class="class-reserve__legend--block-color"></div>
    <p>selected</p>
  </div>
  <div class="class-reserve__legend--block">
    <div class="class-reserve__legend--block-color"></div>
    <p>available for reservation</p>
  </div>
</div>
