
$primary-color: #34568b;
$secondary-color: #6c8ebf;
$accent-color: #ffb300;
$background-light: #d5e1f8;
$background-card: #ffffff;
$shadow-light: #bebebe;
$border-color-light: #cccccc;
$input-background: #e0e0e0;
$primary-text: #000000;
$secondary-text: #757575;
$error-color: rgb(139, 14, 14);

$spacing-xs: 6px;
$spacing-sm: 8px;
$spacing-md: 10px;
$spacing-lg: 16px;
$spacing-xl: 20px;
$spacing-xxl: 26px;

$font-size-base: 16px;
$font-size-medium: 30px;
$font-size-large: 40px;
$font-family-primary: 'Roboto', "Helvetica Neue", sans-serif;