<div class="info__block--wrapper" *ngIf="userId | async as id">
  <mat-card class="info__block">
    <app-info-title
      *ngIf="username | async as username"
      [username]="username"
    />
    <form [formGroup]="additionalDataForm" (ngSubmit)="onSubmit(id)">
      <mat-card-content>
        <div class="info__block--fields">
          <div class="info__block--select">
            <mat-form-field>
              <mat-label>University</mat-label>
              <mat-select
                matNativeControl
                required
                formControlName="university"
              >
                <mat-option
                  *ngFor="let university of universities | async"
                  [value]="university.id"
                >
                  {{ university.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="info__block--select">
            <mat-form-field>
              <mat-label>Title</mat-label>
              <mat-select matNativeControl formControlName="title" required>
                <mat-option value="Professor">Professor</mat-option>
                <mat-option value="Assistant">Assistant</mat-option>
                <mat-option value="Co-worker">Co-worker</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </mat-card-content>
      <mat-card-footer>
        <button class="info__block--confirm" type="submit">Confirm</button>
      </mat-card-footer>
    </form>
  </mat-card>
</div>
