@use "variables" as *;
@use "mixins" as *;

.dashboard {
  &__title {
    text-align: center;
    @include nav-style();

    h1 {
      font-weight: bold;
      color: $primary-text;
      margin: 0px;
    }
  }

  &__professor {
    @include user-info();

    &--info {
      &-container {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
      }
      &-sign-out {
        max-width: 200px;
        @include logout-button-style();
      }
    }
  }

  &__create-class {
    width: 100%;
    margin-top: 40px;
    padding-bottom: 20px;
    @include flex-center();
    button {
      max-width: 180px;
      @include button-style();
    }
  }
}
