@use "variables" as *;
@use "mixins" as *;

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include nav-style();

  &__logo {
    font-size: $font-size-medium;
    font-weight: bold;
    color: $primary-text;
  }

  &__profile {
    display: flex;
    align-items: center;
  }

  &__icon {
    cursor: pointer;
  }
}
