<app-nav />
<div class="main__wrapper">
  <div class="student-profile__data--info">
    <div class="student-profile__data--info-container">
      <div class="student-profile__data--info-title">
        <h1>My profile</h1>
      </div>
      <button class="student-profile__data--info-sign-out" (click)="handleSignOut()">
        Sign out
      </button>
    </div>
    <div class="student-profile__data--info-field">
      <p>Username: <span>Username</span></p>
    </div>
    <div class="student-profile__data--info-field">
      <p>Email: <span>Email</span></p>
    </div>
    <div class="student-profile__data--info-field">
      <p>University: <span>University</span></p>
    </div>
    <div class="student-profile__data--info-field">
      <p>Study Program: <span>Study Program</span></p>
    </div>
  </div>
  <div class="student-profile__classes">
    <div class="student-profile__classes--title">
      <h1>Classes with my reserved seat</h1>
    </div>
    <div class="student-profile__classes--wrapper">
      <app-class />
      <app-class />
      <app-class />
      <app-class />
      <app-class />
    </div>
  </div>
</div>
