@use "variables" as *;
@use "mixins" as *;

.student-profile {
  &__data {
    @include user-info();

    &--info {
      &-container {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
      }
      &-sign-out {
        max-width: 200px;
        @include logout-button-style();
      }
    }
  }
  @include classes-wrapper();
}
