<div class="dashboard__title">
  <h1>Welcome Username!</h1>
</div>
<div class="main__wrapper">
  <div class="dashboard__professor--info">
    <div class="dashboard__professor--info-title">
      <h1>My profile</h1>
    </div>
    <div class="dashboard__professor--info-field">
      <p>Email: <span>Email</span></p>
    </div>
    <div class="dashboard__professor--info-field">
      <p>University: <span>University</span></p>
    </div>
    <div class="dashboard__professor--info-field">
      <p>Title: <span>Title</span></p>
    </div>
  </div>
  <div class="dashboard__classes">
    <div class="dashboard__classes--title">
      <h1>My classes</h1>
    </div>
    <div class="dashboard__classes--wrapper">
      <app-class />
      <app-class />
      <app-class />
      <app-class />
      <app-class />
    </div>
  </div>
  <div class="dashboard__create-class">
    <button routerLink="/create-class">Create Class</button>
  </div>
</div>
