<div class="info__block--wrapper">
  <mat-card class="info__block">
    <app-info-title [username]="username" />
    <form [formGroup]="additionalDataForm"  (ngSubmit)="onSubmit()">
      <mat-card-content>
        <div class="info__block--fields">
          <div class="info__block--select">
            <mat-form-field>
              <mat-label>University</mat-label>
              <mat-select
                matNativeControl
                required
                formControlName="university"
              >
                <mat-option
                  *ngFor="let university of universities | async"
                  [value]="university.id"
                >
                  {{ university.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="info__block--select">
            <mat-form-field>
              <mat-label>Year</mat-label>
              <mat-select matNativeControl required formControlName="year">
                <mat-option
                  *ngFor="let year of years; let i = index"
                  [value]="i + 1"
                  >{{ i + 1 }}</mat-option
                >
              </mat-select>
            </mat-form-field>
          </div>
          <div class="info__block--select">
            <mat-form-field>
              <mat-label>Study Program</mat-label>
              <mat-select
                matNativeControl
                required
                formControlName="studyProgram"
              >
                <mat-option
                  *ngFor="let studyProgram of studyPrograms | async"
                  [value]="studyProgram.id"
                >
                  {{ studyProgram.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="info__block--select">
            <mat-form-field>
              <mat-label>Index</mat-label>
              <input
                matInput
                type="tel"
                pattern="[0-9]*"
                inputmode="numeric"
                formControlName="index"
              />
            </mat-form-field>
          </div>
        </div>
      </mat-card-content>
      <mat-card-footer>
        <button class="info__block--confirm" type="submit">Confirm</button>
      </mat-card-footer>
    </form>
  </mat-card>
</div>
