<div class="info__block--wrapper">
  <mat-card class="info__block">
    <mat-card-header>
      <mat-card-title>Welcome Username!</mat-card-title>
    </mat-card-header>
    <form>
      <mat-card-content>
        <div class="info__block--fields">
          <div class="info__block--select">
            <mat-form-field>
              <mat-label>University</mat-label>
              <select matNativeControl required>
                <option value="option1">option1</option>
                <option value="option2">option2</option>
                <option value="option3">option3</option>
              </select>
            </mat-form-field>
          </div>
          <div class="info__block--select">
            <mat-form-field>
              <mat-label>Title</mat-label>
              <select matNativeControl required>
                <option value="Professor">Professor</option>
                <option value="Assistant">Assistant</option>
                <option value="Co-worker">Co-worker</option>
              </select>
            </mat-form-field>
          </div>
        </div>
      </mat-card-content>
      <mat-card-footer>
        <button class="info__block--confirm" type="submit">Confirm</button>
      </mat-card-footer>
    </form>
  </mat-card>
</div>
