<div class="dashboard__classes">
  <div class="dashboard__classes--title">
    <h1>My classes</h1>
  </div>
  <div class="dashboard__classes--wrapper">
    <app-class
      *ngFor="let professorClass of professorClasses | async"
      [loadedClass]="professorClass"
      (handleClassDeleteClick)="handleOnClickClassDelete()"
      [canBeDeleted]="true"
    />
  </div>
</div>
<app-delete-class-block
  *ngIf="isDeleteClassBlockVisible"
  (handleCloseDeleteClassBlock)="handleOnClickClassDeleteBlockButton()"
/>
