<div class="dashboard__classes">
  <div class="dashboard__classes--title">
    <h1>My classes</h1>
  </div>
  <div
    class="dashboard__classes--wrapper"
    *ngIf="professorClasses | async as classes"
  >
    <app-class
      *ngFor="let professorClass of classes"
      [loadedClass]="professorClass"
      (handleClassDeleteClick)="handleOnClickClassDelete()"
      [canBeDeleted]="true"
    />
    <app-no-classes *ngIf="classes.length === 0" />
  </div>
</div>
<app-delete-class-block
  *ngIf="isDeleteClassBlockVisible"
  (handleCloseDeleteClassBlock)="handleOnClickClassDeleteBlockButton()"
/>
