<div class="auth__block--wrapper">
  <mat-card class="auth__block">
    <mat-card-header>
      <mat-card-title>Sign Up</mat-card-title>
    </mat-card-header>
    <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
      <mat-card-content>
        <div class="auth__block--fields">
          <div class="auth__block--username">
            <mat-form-field appearance="outline">
              <mat-label>Enter username</mat-label>
              <input matInput type="text" required formControlName="username" />
            </mat-form-field>
          </div>
          <div class="auth__block--email">
            <mat-form-field appearance="outline">
              <mat-label>Enter email</mat-label>
              <input matInput type="email" required formControlName="email" />
            </mat-form-field>
          </div>
          <div class="auth__block--password">
            <mat-form-field appearance="outline">
              <mat-label>Enter password</mat-label>
              <input
                matInput
                required
                formControlName="password"
                [type]="hidePassword ? 'password' : 'text'"
              />
              <button
                mat-icon-button
                matSuffix
                (click)="togglePassword($event)"
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hidePassword"
                type="button"
              >
                <mat-icon>{{
                  hidePassword ? "visibility_off" : "visibility"
                }}</mat-icon>
              </button>
            </mat-form-field>
          </div>
          <div class="auth__block--radio">
            <p>Select Role:</p>
            <mat-radio-group aria-label="Select role" formControlName="role" aria-required="true">
              <mat-radio-button value="P">Professor</mat-radio-button>
              <mat-radio-button value="S">Student</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
      </mat-card-content>
      <mat-card-footer>
        <button class="auth__block--confirm" type="submit">Sign Up</button>
        <div>
          <p>Already have an account?</p>
          <a routerLink="/sign-in">Sign in</a>
        </div>
      </mat-card-footer>
    </form>
  </mat-card>
</div>
