<div class="auth__block--wrapper">
  <mat-card class="auth__block">
    <mat-card-header>
      <mat-card-title>Sign in</mat-card-title>
    </mat-card-header>
    <form [formGroup]="signInForm" (ngSubmit)="onSubmit()">
      <mat-card-content>
        <div class="auth__block--fields">
          <div class="auth__block--email">
            <mat-form-field appearance="outline">
              <mat-label>Enter email</mat-label>
              <input matInput type="email" required formControlName="email" />
            </mat-form-field>
          </div>
          <div class="auth__block--password">
            <mat-form-field appearance="outline">
              <mat-label>Enter password</mat-label>
              <input
                matInput
                required
                formControlName="password"
                [type]="hidePassword ? 'password' : 'text'"
              />
              <button
                mat-icon-button
                matSuffix
                (click)="togglePassword($event)"
                [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hidePassword"
                type="button"
              >
                <mat-icon>{{
                  hidePassword ? "visibility_off" : "visibility"
                }}</mat-icon>
              </button>
            </mat-form-field>
          </div>
        </div>
      </mat-card-content>
      <mat-card-footer>
        <button class="auth__block--confirm" type="submit">Sign in</button>
        <div>
          <p>Don't have an account?</p>
          <a routerLink="/sign-up">Sign up</a>
        </div>
      </mat-card-footer>
    </form>
  </mat-card>
</div>