<div class="class-reserve" *ngIf="selectedClass | async as class">
  <app-class-reserve-details
    [isProfessor]="isProfessor"
    [selectedClass]="class!"
  />
  <app-reserve-legend />

  <form [formGroup]="reserveSeatForm" (ngSubmit)="onSubmit($event, class)">
    <div class="class-reserve__wrapper">
      <div
        class="class-reserve__seats"
        *ngFor="let groupOfSeats of numberOfGroups"
      >
        <div
          class="seat"
          *ngFor="let seat of groupOfSeats"
          [class.available]="seat.status === 'available'"
          [class.selected]="seat.status === 'selected'"
          [class.reserved]="seat.status === 'reserved'"
          [class.this-user-reserved-seat]="
            seat.studentIndex === currentStudent?.index
          "
          [class.blocked]="isThisClassReservedByThisUser() || isProfessor"
          (click)="selectSeat(seat)"
        >
          <p>{{ seat.numberOfSeat }}</p>
        </div>
      </div>
    </div>
    <div class="class-reserve__stage--wrapper">
      <div class="class-reserve__stage">
        <div class="class-reserve__stage--table"></div>
        <div class="class-reserve__stage--stand"></div>
      </div>
    </div>
    <div class="class-reserve__button" *ngIf="!isProfessor && showButtons()">
      <button
        class="class-reserve__button--confirm"
        type="submit"
        value="confirm"
        *ngIf="!isThisClassReservedByThisUser()"
      >
        Confirm
      </button>
      <button
        class="class-reserve__button--cancel"
        type="submit"
        value="cancel"
        *ngIf="isThisClassReservedByThisUser()"
      >
        Cancel Your Seat
      </button>
    </div>
  </form>
</div>
