@use "variables" as *;
@use "mixins" as *;

.class-reserve {
  @include sub-title();
  &__wrapper {
    @include flex-center();
    justify-content: space-evenly;
    width: 100%;
    padding: 20px 0;
    background: $background-card;
    margin-top: $spacing-md;
  }

  &-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__available-seats {
    p {
      font-size: 18px;
    }
  }

  &__seats {
    display: grid;
    grid-template-rows: repeat(5, auto);
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    padding: 20px;
    border: 2px solid $border-color-light;
    width: fit-content;
    border-radius: 8px;
    .seat {
      width: 50px;
      height: 50px;
      border: 2px solid #555;
      @include flex-center();
      font-size: 14px;
      font-weight: bold;
      border-radius: 5px;
      transition: background-color 0.2s ease, border-color 0.2s ease;

      &.available {
        background-color: white;
        cursor: pointer;
        &:hover {
          background-color: $input-background;
        }
      }

      &.reserved,
      &.selected {
        color: white;
      }

      &.reserved {
        background-color: $reserved-seat;
      }

      &.selected {
        background-color: $selected-seat;
      }

      &.this-user-reserved-seat {
        background-color: $this-user-reserved-seat !important;
      }

      &.reserved,
      &.blocked {
        pointer-events: none;
      }

      &.blocked {
        cursor: default !important;
      }
    }
  }

  &__stage {
    bottom: 100px;
    @include flex-center();
    flex-direction: column;
    z-index: 10;

    &--wrapper {
      width: 100%;
      padding: 20px 0;
      background: $background-card;
    }

    &--table {
      width: 120px;
      height: 60px;
      border: 2px solid black;
      margin-bottom: 5px;
    }
    &--stand {
      width: 40px;
      height: 40px;
      border: 2px solid black;
    }
  }

  &__button {
    width: 100%;
    margin-top: 40px;
    padding-bottom: 20px;
    @include flex-center();
    &--confirm {
      max-width: 200px;
      @include button-style();
    }
  }

  &__legend {
    margin-top: $spacing-sm;

    &--block {
      display: flex;
      align-items: center;

      &:nth-of-type(1) &-color {
        background-color: $this-user-reserved-seat;
      }

      &:nth-of-type(2) &-color {
        background-color: $reserved-seat;
      }

      &:nth-of-type(3) &-color {
        background-color: $selected-seat;
      }

      &:nth-of-type(4) &-color {
        background-color: white;
      }

      &-color {
        width: 12px;
        height: 12px;
        margin-right: 4px;
      }
      p {
        font-size: 14px;
        padding-bottom: 2px;
      }
    }
  }
}
